name: Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  clean-up:
    runs-on: self-hosted
    steps:
    
    - uses: actions/checkout@v4

    - name: Removing container
      continue-on-error: true
      run: docker rm $(docker stop $(docker ps -a -q --filter ancestor=testdocker --format="{{.ID}}"))
      shell: powershell

    - name: Remove images
      continue-on-error: true
      run: docker rmi $(docker images --format "{{.Repository}}:{{.Tag}}"|findstr "testdocker")
      #run: docker images -a -q | % { docker image rm $_ -f }
      shell: powershell

  publish:

    runs-on: self-hosted
    needs: clean-up
    steps:
    
    - uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker-compose up -d

    - name: Set autorun policy
      continue-on-error: true
      run: docker update  -d --restart unless-stopped test-docker


