name: Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  clean:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Run build script
      #continue-on-error: true
      run: ./.github/scripts/build.sh
     #shell: bash

     
    - name: Run build script
      run: timeout /t 10


  deploy:
    runs-on: self-hosted
    needs: clean
    steps:
      - name: Build the Docker image
        run: docker-compose up -d
        continue-on-error: true
